@page "/"
@layout HomePage
@inject IJSRuntime js
@inject IIntersectionObserverService observer
@implements IAsyncDisposable

<!--
    Notes:
    There will be a floating card at the very start of the application for new updates
    and other thing that needs attention and can be close afterwards.
-->

<style>
    #quotation {
        position: relative;
        width: 80% !important;
        height: max-content !important;
        color: var(--aqua) !important;
        background-color: var(--white) !important;
        padding: 20px 10px 10px 10px;
        border-radius: 10px;
        border: 1px solid var(--gray);

        z-index: 1;
    }
</style>

<title>Hopestone Construction Services | The Pioneer of Construction Innovation</title>

<div class="@serviceQuote">
    <h4>Service Quotation</h4>
    <EditForm id="quotation" Model="@quote">
        <button id="quote-close" type="button" @onclick="Close_Quote">
            <i class="fas fa-times fa-lg" style="color: var(--aqua);"></i>
        </button>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <InputText id="name" @bind-Value="@quote.ClientName" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="contactNumber">Contact Number</label>
                    <InputText id="contactNumber" @bind-Value="@quote.ContactNumber" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="emailAddress">Email Address</label>
                    <InputText id="emailAddress" @bind-Value="@quote.EmailAddress" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <!--
                            Upon selection one of the option, it will incur an error 
                            since the back end wasn't yet implemented
                            -->
                <div class="form-group">
                    <label for="serviceName">Service Name</label>
                    <InputSelect id="serviceName" @bind-Value="@quote.Services" class="form-control">
                        <option value="none" hidden>--Select--</option>
                        <option value="@quote.ServiceId">Planning & Design</option>
                        <option value="2">Construction</option>
                        <option value="3">Electrical</option>
                        <option value="4">Electronics</option>
                        <option value="5">Mechanical</option>
                        <option value="6">Renovation</option>
                        <option value="7">Plumbing</option>
                        <option value="8">Consultation</option>
                    </InputSelect>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="details">Brief details of inquiry</label>
            <InputTextArea id="details" @bind-Value="@quote.Details" class="form-control" />
        </div>

        <div class="row">
            <div class="col-6 text-center">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
            <div class="col-6 text-center">
                <button class="btn btn-danger" type="button" @onclick="Close_Quote">Cancel</button>
            </div>
        </div>

    </EditForm>
</div>

<section class="hero">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-md-12 d-flex flex-row  justify-content-center align-items-center">

                <!-- Slogan -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Hopestone Construction Services</h5>
                            <p class="card-text">
                                We are a Registered Construction Firm offering Planning & Design,
                                Building Construction, Renovation, Mechanical, Electronics, Electrical, Plumbing, and
                                other construction services. You name it, we build it</p>
                            <br>
                            <p class="card-text">
                                We aim to provide outstanding Customer Service and distinctive interior/exterior
                                designs.
                            </p>
                            <a href="" class="btn cta-btn">Get A Quote</a>
                        </div>
                    </div>
                </div>

                <!-- Feature -->
                <div id="feature" class="col-md-6">
                    <!-- Top Row-->
                    <div id="topRow" class="row">
                        <div class="col-12">
                            <div class="flip-box">
                                <div class="flip-box-inner">
                                    <div class="flip-box-front">
                                        <img src="images/hero1.jpg" alt="">
                                    </div>
                                    <div class="flip-box-back">
                                        <img src="images/feature1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mid Row -->
                    <div id="midRow" class="row">
                        <div class="col-12 d-flex flex-row">
                            <div class="col-6">
                                <div class="flip-box">
                                    <div class="flip-box-inner">
                                        <div class="flip-box-front">
                                            <img src="images/hero2.jpg" alt="">
                                        </div>
                                        <div class="flip-box-back">
                                            <img src="images/feature2.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="flip-box">
                                    <div class="flip-box-inner">
                                        <div class="flip-box-front">
                                            <img src="images/hero3.jpg" alt="">
                                        </div>
                                        <div class="flip-box-back">
                                            <img src="images/feature3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Bottom Row -->
                    <div id="botRow" class="row">
                        <div class="col-12">
                            <div class="flip-box">
                                <div class="flip-box-inner">
                                    <div class="flip-box-front">
                                        <img src="images/hero4.jpg" alt="">
                                    </div>
                                    <div class="flip-box-back">
                                        <img src="images/feature4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="services-container">
        <div class="col-12">

            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="Open_Quote"><i class="fas fa-edit"></i>
                                    Get a quote</a>
                            </div>
                            <img loading="lazy" src="images/planning.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Planning & Design</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="Open_Quote"><i class="fas fa-edit"></i>
                                    Get a quote</a>
                            </div>
                            <img loading="lazy" src="images/construction.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Construction</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="Open_Quote"><i class="fas fa-edit"></i>
                                    Get a quote</a>
                            </div>
                            <img loading="lazy" src="images/renovation.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Renovation</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="Open_Quote"><i class="fas fa-edit"></i>
                                    Get a quote</a>
                            </div>
                            <img loading="lazy" src="images/mechanical.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Mechanical</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="Open_Quote"><i class="fas fa-edit"></i>
                                    Get a quote</a>
                            </div>
                            <img loading="lazy" src="images/electrical.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Electrical</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="Open_Quote"><i class="fas fa-edit"></i>
                                    Get a quote</a>
                            </div>
                            <img loading="lazy" src="images/electronics.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Electronics</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="Open_Quote"><i class="fas fa-edit"></i>
                                    Get a quote</a>
                            </div>
                            <img loading="lazy" src="images/plumbing.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Plumbing</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="item-container">
                    <div class="item-content">
                        <div class="img-container">
                            <div class="img-overlay">
                                <a class="btn" @onclick="Open_Quote"><i class="fas fa-edit"></i>
                                    Get a quote</a>
                            </div>
                            <img loading="lazy" src="images/consultation.jpg" alt="">
                        </div>
                        <div class="item-details">
                            <div class="item-header">Consultation</div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 
    Blog & Portfolio
    This two additional section will display plus button if nothing to display using if condition
    -->

<section @ref="footerObserver" class="footer">
    <div class="col-12">

        <div class="box">
            <div class="box-header">
                Company
            </div>
            <div class="box-body">
                <ul>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">What is Hopestone</a>
                    </li>
                    <li>
                        <a href="">Our Customer</a>
                    </li>
                    <li>
                        <a href="">Careers</a>
                    </li>
                    <li>
                        <a href="">Partner with Us</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="box">
            <div class="box-header">
                Resources
            </div>
            <div class="box-body">
                <ul>
                    <li>
                        <a href="">Help & Support</a>
                    </li>
                    <li>
                        <a href="">Status</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="news-letter" class="box">
            <div class="box-header">
                News Letter
            </div>
            <div class="box-body">
                <label for="newsLetter">Subscribe to our monthly news letter</label>
                <form action="">
                    <input type="email" name="" id="newsLetter">
                    <button type="button">
                        <i class="far fa-paper-plane"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="terms">
            <ul class="d-flex flex-row justify-content-around align-items-center">
                <li>
                    <a href="">Terms of use</a>
                </li>
                <li>
                    <a href="">Privacy policy</a>
                </li>
                <li>
                    <a href="">Cookie setting</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
                <li>
                    <a href="https://goo.gl/maps/Yms9MCX3W8VzX4Zo7" target="_blank">Sitemap</a>
                </li>
                <li>
                    <a href="">Credits</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12">
        <div class="rights-reserve w-100">
            &COPY; Copyright 2021 Hopestone Construction Services. All rights reserved.
        </div>
    </div>
</section>

@code {
    ServiceQuotation quote = new ServiceQuotation();

    public ElementReference footerObserver { get; set; }
    public bool IsIntersecting { get; set; }

    private IntersectionObserver Observer;

    Service myServices = new Service();

    private string serviceQuote = "hide";

    private void Close_Quote()
    {
        serviceQuote = "hide";
    }

    private void Open_Quote()
    {
        serviceQuote = "service-quote-popover";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SetupObserver();
        }
    }

    public async Task SetupObserver()
    {

        await observer.Observe(footerObserver, (entries) =>
        {
            var entry = entries.FirstOrDefault();
            IsIntersecting = entry.IsIntersecting;
            StateHasChanged();
            @* Console.WriteLine(IsIntersecting); *@

            if (entry.IsIntersecting)
            {
                js.InvokeVoidAsync("NavHeader");
            }
            else
            {
                js.InvokeVoidAsync("NavHeader");
            }
        });
    }
    public async ValueTask DisposeAsync()
    {
        if (this.Observer != null)
        {
            await this.Observer.Dispose();
        }
    }

}
